*{
    margin: 0px;
}
html {
    background-color: rgb(247, 240, 232);
}

.grid-container {
    display: grid;
    grid-template-columns: 10% 20% 60% 10%; 
    grid-template-rows: 100px 400px 500px 100px;
}


/* HEADER --------------------------------------------------------------------*/

header {
    grid-area: 1 / 1 / 1 / 3;
    display: flex;
    background-color: rgb(244, 223, 186);
    border: 3px solid rgb(244, 223, 186);
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.header-logo{
    width: 60%;
    height: 60%;
}
.header-titulo{
    color: rgb(150, 108, 95);
    font-size: 25px;
    font-style: oblique;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* NAV --------------------------------------------------------------------*/

nav {
    grid-area: 1 /3 / 1 /5 ;
    background-color: rgb(244, 223, 186);
    border: 3px solid rgb(244, 223, 186);
}
nav ul{
    width: 100%;
    height: 100%;
    padding: 2px;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
nav li {
    padding: 2px;
    margin-left: auto;
}
nav li:hover{
    background-color: rgba(0,0,0,0.2);
}
nav ul a {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: rgb(107, 75, 66);
    padding: 2px;
}
.nav-carrito{
    padding: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    background-color: rgb(244, 223, 186);
}
.nav-carrito-carrito{
    height: 25px;
    width: 25px;
}



/* MAIN ---------------------------------------------------------------------------*/
main {
    grid-area: 2 / 1 / 4 / 5 ;
    background-color: rgb(247, 240, 232);
    overflow: auto;
    display: flex;
    flex-flow: row;
    justify-items: center;
    justify-content: center;
}
.main-cont{
    display: flex;
    width: 80%;
    height: fit-content;
    background-color: rgb(201, 144, 127);
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 5px;
    margin: 25px;
    justify-content: center;
    align-items: center;
    align-content:center ;
}
.carrito-label{
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(107, 75, 66);
    margin-right: 5px;
}
.carrito-text{
    margin: 20px;
    display: flex;
    justify-content: center;
}
.carrito-sel{
    display: flex;
    justify-content: center;
    margin: 15px 5px 5px 5px;
}
.carrito-cont-productos{
    display: none;
}
.carrito-img{
    height: 200px;
    width: 200px;
}


/* ASIDE ---------------------------------------------------------------------*/

.aside1{
    display: none;
}
.aside2{
    display: none;
}


/* SECTION -----------------------------------------------------------------*/
section{
    display: none;
}

/* FOOTER -----------------------------*/
footer {
    margin-top: 25px;
    grid-area: 4 / 1 / 5 / 5;
    background-color: rgb(244, 223, 186);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer p {
    text-align: justify;
    color: rgb(124, 91, 81);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-style: oblique;
    font-size: 10px;
    margin: 5px;
}



/* MEDIA QUERY ========================================= */

@media screen and (min-width: 768px){
    .aside1{
        display: flex;
        grid-area: 1 / 1 / 5 / 1;
        background-color: rgb(247, 240, 232);
    }
    .aside2{
        display: flex;
        grid-area: 1 / 4 / 5 / 5;
        background-color: rgb(247, 240, 232);
    }

    .grid-container {
        grid-template-columns: 10% 15% 65% 10%; 
        grid-template-rows: 70px 400px 500px 100px;
    }

    /* HEADER--------------------------------------------- */


    header {
        grid-area: 1 / 2 / 1 / 3;
    }
    .header-logo{
        width: 50%;
        height: 100%;
    }
    .header-titulo{
        display: none;
        color: rgb(150, 108, 95);
        font-size: 30px;
        font-style: oblique;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }


/* NAV ------------------------------------------------------------- */


    nav {
        grid-area: 1 / 3 / 1 / 4 ;

    }
    nav li {
        padding: 2px;
        margin-left: auto;
    }
    
    nav li:hover{
        background-color: rgba(0,0,0,0.2);
    }
    
    nav ul a {
        font-size: 18px;
        text-decoration: none;
        padding: 4px;
    }
    .nav-carrito{
        padding: 4px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3px;
    }

/* MAIN --------------------------------------------------------------- */



/* FOOTER------------------------------------------------------------------------ */


footer {
    grid-area: 4 / 1 / 5 / 5;
    border-radius: 5px;
    padding: 15px;
}
footer p {
    font-size: 15px;
}
footer div img{
    height: 40px;
    width: 40px;
}


/* ASIDE */
/* SECTION */
/* FOOTER */


}
@media screen and (min-width: 1400px){
    .grid-container {
        grid-template-columns: 10% 15% 65% 10%; 
        grid-template-rows: 70px 1000px 900px 100px;
    }
    .header-logo{
        height: 100%;
        width: 30%;
    }
    .main-cont{
        display: flex;
        width: 30%;
        height: fit-content;
        background-color: rgb(201, 144, 127);
        border-radius: 10px;
        border: 1px solid rgba(0,0,0,0.2);
        padding: 5px;
        margin: 25px;
        justify-content: space-around;
        align-items: center;
        align-content:center ;
    }
    .carrito-label{
        font-size: 18px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(107, 75, 66);
        margin-right: 5px;
    }
    .carrito-text{
        margin: 20px;
        display: flex;
        justify-content: center;
    }
    .carrito-sel{
        display: flex;
        justify-content: center;
        margin: 15px 5px 5px 5px;
    }
    .carrito-cont-productos{
        display:flex;
        flex-flow: column;
    }
    .carrito-img{
        height: 300px;
        width: 300px;
    }
}
